*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

/* Ancho de franja */

img{
    width: 100%;
}

.h1-home{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.h2-home{
    font-family: 'Playfair Display', serif;
    font-size: 33px;
}

.ancho-franja-home{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Nav ---------------------*/

.h1-home-header{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 30px;
}

h1 span{
    font-family: 'Playfair Display', serif;
}

.linea-header{
    opacity: 0.35;
    max-width: 100vw;
}

.navbar li a{
    text-decoration: none; 
    margin-right: 70px;
    margin-left: 70px;
    display: flex;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 25px; 
}

.navbar a:not(:last-child) {
margin-left: 0;
margin-right: 0;
}

.navbar a:active{
    color:black
}
.navbar a:focus{
    color: black;
} 

.navbar a:focus{
    color: black;
}

/* Franja1 -------------- */


.imagen-franja1{
    width: 100%;
    height: auto;    
}

/* Franja2 -------------- */

.h1-franja2{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

/* Franja3 -------------- */

.container-franja3{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 23px;

}

.p-franja3{
    padding: 20px;
    text-align: center;
    margin: 0;
}

.p-franja3:hover{
    background-color: rgb(3, 123, 192);
    color: white;
    border-bottom-right-radius: 13px ;
}

.franja3-home{
    margin-bottom: 50px;
}

.div-franja3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Franja 4------------------------------- */

.container-franja4-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    width: 100%;
    background-color: rgb(3, 123, 192);

}

.imagen-franja4{
    width: 100%;
}

.container-color-h1-p-franja4{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 43px;
}

.container-color-h1-p-franja4 h1{
    margin-bottom: 30px;
}

.container-franja4-h1-p{
    width: 390px;
    margin-left: 44px;
}

.container-color-h1-p-franja4 p{
    line-height: 30px;
    font-size: 16px;
}

/* Franja5------------------------------------- */

.h1-franja5-productos{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenedor-franja5-producto1{
    display: grid;
    grid-template-columns: 1fr 0.40fr;
    background-color: rgb(3, 123, 192);
    color: white;
    text-align: center;
    line-height: 30px;
}

.h2-productos{
    margin-bottom: 20px;
    margin-top: 80px;
}

.info-product{
    width: 240px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 55px
}

.price-product{
    font-size: 30px;
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 25px; 
}

.button-product{
    background-color: rgb(140, 188, 0);
    color: white;
    font-size: 16.5px;
    font-weight: 900;
    width: 240px;
    height: 60px;
    border: none;
}

.contenedor-imagen-producto{
    width: 100%;
    height: 520px;
    overflow: hidden;
}

.contenedor-franja5-producto1 img{
    width: 1060px;
    height: 600px;
    object-fit: cover;
}
/* ----------Producto 2 y 3--------------------- */

.franja5-producto2-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contenedor-imagen-producto2 .contededor-imagen-producto3{
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.contenedor-franja5-producto2 .contenedor-franja5-producto3 img{
    width: 600px;
    height: 380px;
    object-fit: cover;
    }

.h2-productos{
    margin-bottom: 20px;
    margin-top: 80px;
}

.price-product2-3{
    font-size: 30px;
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 25px; 
}

.button-product2-3{
    background-color: rgb(140, 188, 0);
    color: white;
    font-size: 16.5px;
    font-weight: 900;
    width: 531px;
    height: 60px;
    border: none;
}

.contenedor-franja5-producto2, .contenedor-franja5-producto3{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(3, 123, 192);
    color: white;
    text-align: center;
    line-height: 30px;
    height: 720px;
}

.contenedor-info-product2, .contenedor-info-product3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -76px;
    width: 531px;
    margin-left: 28px;
}

/* ----------Producto 5 y 6--------------------- */

.button-product-final{
    background-color: rgb(140, 188, 0);
    color: white;
    font-size: 16.5px;
    font-weight: 900;
    width: 360px;
    height: 60px;
    border: none;
}

.price-product-final{
    font-size: 30px;
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 25px; 
}

.contenedor-franja5-producto4, .contenedor-franja5-producto5, .contenedor-franja5-producto6{
    background-color: rgb(3, 123, 192);
    color: white;
    text-align: center;
    line-height: 30px;
    height: 630px ;
    margin-bottom: 40px;
}

.contenedor-imagen-producto4, .contenedor-imagen-producto5, .contenedor-imagen-producto6 {
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.contenedor-franja5-producto4 img, .contenedor-franja5-producto5 img, .contenedor-franja5-producto6 img {
    width: 390px;
    height: 271px;
    object-fit: cover;
}

.franja5-agrupacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 20px;
}

.contenedor-info-product4, .contenedor-info-product5, .contenedor-info-product6{
    width: 330px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: -140px;
}

/*--------------------Footer--------------------- */

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:250px;
    margin-top: 60px;
    justify-items: center;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.footer-container h1{
    margin-bottom: 20px;
}

.footer-container ul li{
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    line-height: 32px;
    cursor: pointer;
}

.end-home{
    text-align: center;
    margin-bottom: 30px;
}

/*-----------Sobre nosotros-franja1-------------- */

.container-franja1-nosotros{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 3px;
    width: 100%;
    justify-items: center;
    margin-left: 30px;
    align-items: center;
    margin-bottom: 40px;
}

.h1-nosotros{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
}

.container-franja1-nosotros div p{
    margin-left: -50px;
    line-height: 30px;
    margin-right: -20px;
    width: 500px;
}

/*-----------Tienda-franja1-------------- */

.franja1-tienda{
    margin-top: 96px;
}

/*-----------Blog-franja1-------------- */

.franja1-tienda{
    margin-top: 96px;
}

.h1-blog{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-bottom: 50px;
}

.h2-blog{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 20px;
    margin-left: -40px;
}

.total-container-franja1{
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 100%;
}

.lista-blog{
    line-height: 40px;
}

.otras-entradas-blog{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.container-franja1-blog{
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    gap:60px;
    margin-left: 50px;
    margin-right: 50px;
}

.imagen-franja1-blog{
    width: 100%;
    margin-top: -35px;
}

.blog-fecha-autor{
    margin-top: 30px;
    font-weight: bolder;
    display: inline-flex;
    gap: 320px;
    align-items: flex-start;
    margin-bottom: 32px;    
}

.blog-fecha-autor-color{
    color: rgb(3, 123, 192);
}

.blog-content{
    line-height: 30px;
}

.button-blog{
    background-color: rgb(140, 188, 0);
    color: white;
    font-size: 16.5px;
    font-weight: 900;
    width: 280px;
    height: 60px;
    border: none;
    margin-top: 30px;
    margin-bottom: 60px;
}

.linea-header-blog{
    opacity: 0.6;
    width: 780px;
    margin-left: 50px;
}

/*-----------Galería-franja1--------------*/

.contenedor-galeria{
    display: grid;
    grid-template-columns: repeat(3,370px);
    gap: 35px;
    width: 100%;
    margin-bottom: 40px;
    width: 100%;
    justify-content: center;
}

.contenedor-imagen-galeria{
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.imagen-galeria {
    width: 380px;
    height: 400px;
    object-fit: cover;
}

/*------------------Contacto---------------------- */

/*---------------Tus datos------------------ */

.formulario-titulos{
    background-color: rgb(0, 84, 133);
    color: white;
    font-weight: 800;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    z-index: 4;
}

.line-datos{
    border: 1px solid black;
    background-color: white;
    width: 550px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
    margin-bottom: 30px; 

}

.titulo-datos{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.item-datos{
    margin-bottom: 48px;
}

.input-info{
    margin-bottom: 30px;
}

.contenido-datos{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.contenedor-datos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
}

label{
    margin-right: 30px;
}

input, textarea{
    border: 1px solid rgb(218, 215, 215);
    width: 100%;
    height: 15px;
    padding-top: 20px;
    padding-bottom: 15px;   
}

textarea{
    height: 180px;
}

.input-info::placeholder{
    padding-left: 10px;
    font-size: 16px;
}

/*---------------País----------------- */


.line-pais{
    border: 1px solid black;
    background-color: white;
    width: 550px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px; 
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pais-select{
    border: 1px solid rgb(218, 215, 215);
    width: 420px;
    height: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 20px;   
}

/*---------------Información extra------------------ */

.info-titulo{
    display: flex;
    flex-direction: column;   
}



.info-detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea-info-detalle{
    border: 1px solid rgb(218, 215, 215);
    width: 400px;
    height: 90px;
}

.container-infoextra{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.container-infoextra label{
    margin-bottom: 20px;
}

.info-detalle input{
    margin-bottom: 30px;
    margin-right: 380px;
}

.line-infoextra{
    border: 1px solid black;
    background-color: white;
    width: 550px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -5px; 
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.container-total-infoextra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-top: 40px; 
    margin-right: 30px;
}

.button-formulario{
    background-color: rgb(140, 188, 0);
    color: white;
    font-size: 16.5px;
    font-weight: 900;
    width: 550px;
    height: 40px;
    border: none;
    margin: 0 auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

/* Probando otro método------------------------------------ */


.titulo-datos{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.item-datos{
    margin-bottom: 48px;
}

.input-info{
    margin-bottom: 30px;
}

.contenido-datos{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.contenedor-datos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
}




/* -----Pseudoclases para todos los botones-------*/

.button-product:hover, .button-product2-3:hover, .button-product-final:hover, .button-formulario:hover{
    background-color: rgb(123, 163, 2);
    cursor: pointer;
    transition: background-color 0.4s ease;    
}

/* ----
